<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "Home page", home_path, :class => 'btn btn-info' %>
            <%= link_to "About us", about_path, :class => 'btn btn-info'%>
            <%= link_to "Adding article", new_post_path, :class => 'btn btn-info'%>
          </ul>
        </nav>
      </div>
    <div class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
